<div class="row">
  <% if @side_bar_topics %>
    <div class="sidebar-module">
      <h4>Topics</h4>
      <% @side_bar_topics.each do |topic| %>
        <p><%= link_to topic.title, topic_path(topic) %></p>
      <% end %>
    </div>
  <% end %>


</div>
